h1
  font-size: 40px
  text-align: center
button
  margin-left: 20px
table
  margin-top: 10px
  margin-bottom: 10px
  border-collapse: collapse
  border: 1px solid black
  td
    width: 20px
    height: 20px
    text-align: center
    background-color: #ff7b2c
    border: 1px solid black
  td.alive
    background-color: #ff0a00
  td.dead
    background-color: #ababab
  td.old
    background-color: #ff8175
  th
    border: 1px solid black
